* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 30px;
    background-color: black;
}

.navbar_img img {
    height: 60px;
}

.navbar_menu ul {
    display: flex;
    list-style-type: none;
}

.navbar_menu ul li {
    margin-left: 50px;

}

.navbar_menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.navbar_menu ul li a:hover {
    transform: scale(1.1);
    color: #a14745;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
}

/* main */

.container-index{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('img/el_clan_de_los_lobos_index.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cards{
    background-color: #2c2c2cc9;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    margin: 20px;
}

h2{
    text-align: center;
    color: rgba(133, 130, 130, 0.89);
    margin-bottom: 20px;
}

.container-cards-concerts{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 32px;
}

.card-concert{
    background: rgba(133, 130, 130, 0.89);
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0.1);
    width: 280px;
}

.card-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-inf{
    margin: 5px;
    color: #333;
    text-align: center;
    font-weight: bold;   
}



.card-inf a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #2C2C2C;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0ebec;
    margin-top: auto;
}

footer img{
    height: 80px;
    margin: 16x;
}

.footer-social-networks{
    margin-right: 12px;
}


/* hiring */
.hiring-container{
    background: #d0d0d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.hiring-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiring-img{
    height: 300px;
    width: 300px;
    background-image: url('./img/el_clan_de_los_lobos_index.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 150px;
    
}




@media (max-width: 950px) {
    .navbar_menu {
        display: none;
        position: absolute;
        top: 92px;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 1;
    }

    .navbar_menu.active {
        display: block;
    }

    .navbar_menu ul {
        flex-direction: column;
    }

    .navbar_menu ul li {
        margin: 1rem 0;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .navbar_img img {
        height: 54px;
    }

    .container-cards{
        max-width: 95%;
    }

    footer img{
        display: none;
    }

    footer p{
        font-size: 12px;
        margin: 14px;
    }
}

